<h1>My Climate</h1>
<p>
  Climate change is a big topic, and through all the talk it can be hard to get a picture of what it all means. By 2050 the climate has the potential to reach 3.6 &deg;F warming from "pre-industrial levels", but what does that mean? How much warmer does that mean it will be from today?
</p>
<p>
  Warmer temperatures affect the whole planet, but the ways the extra energy can affect specific areas can vary a surprising amount from location to location, and even day to day. This is intended to help show what global climate change can mean for you and the area where you live in the year 2050.
</p>
<app-token-config></app-token-config>

<app-city-config></app-city-config>

<div *ngIf="(currentCity.getCurrent() | async) as city;">
  <h2>Climate Change For {{city.name}}, {{city.state}}</h2>
  <app-cooling-info></app-cooling-info>

  <app-hot-days></app-hot-days>
</div>
