<h2>Find Your City</h2>
<p *ngIf="!(currentCity.currentCityValid() | async)">
  * required
</p>

<p>
    The Climate Change API has climate projection data for hundreds of cities around the U.S., you can search by name or find the ones closest to you.
</p>
<input
  type="text"
  placeholder="Search for city"
  #citySearch>
- or -
<button
  [disabled]="!(apiHttp.currentTokenValid() | async)"
  (click)="findNearestCities()">
  Find Cities Near You
</button>


<p *ngIf="citySuggestions === null">
  Loading...
</p>
<p *ngIf="citySuggestions?.length === 0">
    No results found
</p>
<p *ngIf="citySuggestions?.length > 0">
  <span *ngIf="citySuggestions?.length === 1">
    Found {{ citySuggestions.length }} city:
  </span>
  <span *ngIf="citySuggestions?.length > 1">
    Found {{ citySuggestions.length }} cities:
  </span>
  <br />
  <select [(ngModel)]="selectedCity" (change)="currentCity.setCity(this.selectedCity)" size=5>
    <option *ngFor="let city of citySuggestions" [ngValue]="city">
      {{city.name}}, {{city.state}}
    </option>
  </select>
</p>
