<h2>API Token</h2>
<p *ngIf="apiHttp.currentTokenValid() | async; else tokenForm">
  You're all set! <a [routerLink]="" (click)="apiHttp.logout()">Want to logout?</a>
</p>

<ng-template #tokenForm>
  <p>
    This uses the Azavea Climate Change API, which requires <a href="https://climate.azavea.com/">a free account</a> to obtain an API token. Once you're registered, just visit the <a href="https://app.climate.azavea.com/accounts/api/">API account page</a> and copy-and-paste your API token here:
  </p>
  <input
      type="text"
      placeholder="API token"
      [(ngModel)]="token">
  <button (click)="saveToken()">Check</button>
</ng-template>
