<app-indicator-block
  [indicators]="[current_threshold, static_percentile, future_threshold]">
  <p *ngIf="current_threshold && static_percentile && future_threshold">
    Currently only the hottest days in a year tend to reach a high above {{ static_percentile.current | number : '1.0-1' }} &deg;{{static_percentile.units}}. In the {{ static_percentile.future_era }}s, it's expected that {{ current_threshold.future | number : '1.0-1' }} days a year will reach that temperature, and the same hottest days of each year in the {{ static_percentile.future_era }}s may rise above {{ static_percentile.future | number : '1.0-1' }} &deg;{{ static_percentile.units }} - something only {{ future_threshold.current | number : '1.0-1' }} days in a year do now.
  </p>
</app-indicator-block>
